<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39910508437-uviaiq46rif08vp6o9f9v1b66qbg4nhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39910508437-uviaiq46rif08vp6o9f9v1b66qbg4nhl</string>
	<key>API_KEY</key>
	<string>AIzaSyCXclYrNTkTRKMY8v0Dmh70_wqeVoeVZ9k</string>
	<key>GCM_SENDER_ID</key>
	<string>39910508437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reliefmate</string>
	<key>PROJECT_ID</key>
	<string>reliefmate</string>
	<key>STORAGE_BUCKET</key>
	<string>reliefmate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39910508437:ios:6f3d009633322fb0a0589c</string>
</dict>
</plist>